.deBaixo
    animation: deBaixo 1s forwards
.deCima
    animation: deCima 1s forwards
.daEsquerda
    animation: daEsquerda 1s forwards
.daDireita
    animation: daDireita 1s forwards
    
@keyframes deBaixo
    0%
        opacity: 0
        transform: translateY(100px)
    100%
         opacity: 1
         transform: translateY(0)

@keyframes deCima
    0%
        opacity: 0
        transform: translateY(-100px)
    100%
         opacity: 1
         transform: translateY(0)

@keyframes daEsquerda
    0%
        opacity: 0
        transform: translateX(-100px)
    100%
         opacity: 1
         transform: translateX(0)

@keyframes daDireita
    0%
        opacity: 0
        transform: translateX(100px)
    100%
         opacity: 1
         transform: translateX(0)
