// Tamnhos da página padão
$alturaHeader: 80px
// $witdhLimite: 1200px

// Tamanho das fontes
$fSize1: 30px
$fSize2: 18px
$fSize3: 15px
$fSize4: 10px

// Cores Exemplos
$corE: #1e120d
$corC: #fff
$corL: #f4a917
$corA: #47a3ff
$corP: #000
$corT: #ffffffaa

$corAum: #6A91F6
$corAdo: #2963FF
$corAtr: #5E74AF
$corAqu: #0A3093

// Cores de Holloween
    // $cor1: #F75F1C
    // $cor2: #FE9A01
    // $cor3: #111111
    // $cor4: #891EE5
    // $cor5: #85E21F